version: 2
updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: docker
    directory: /apps/auth-web
    schedule:
      interval: monthly
