version: 2
updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: monthly
    reviewers:
      - "terenceodonoghue"
    groups:
      javascript:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    reviewers:
      - "terenceodonoghue"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: /apps/auth-web
    schedule:
      interval: monthly
    reviewers:
      - "terenceodonoghue"
    groups:
      docker:
        patterns:
          - "*"
