### Biome ###
.biome/

### Bun ###
bun.lockb

### Claude Code ###
.claude/settings.local.json

### Dotenv ###
.env
.env.development.local
.env.local
.env.production.local
.env.test.local

### Lefthook ###
.lefthook-local.yml

### macOS ###
._*
*.icloud
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DS_Store
.DocumentRevisions-V100
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

### Node ###
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.npm
.node_repl_history
coverage
*.lcov
node_modules/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

### Playwright ###
**/blob-report/
**/playwright-report/
**/playwright/.auth/
**/playwright/.cache/
**/test-results/

### TypeScript ###
*.tsbuildinfo

### VSCode ###
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
.history/
*.vsix
