.body {
  color: hsl(var(--color-text-muted));
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.link {
  color: hsl(var(--color-text-muted));
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  text-decoration: none;
}

.link:hover {
  color: hsl(var(--color-accent));
}
