:root {
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
}

/* Flexbox */
._flex_cakby_11 {
  display: flex;
}

._flex-col_cakby_15 {
  flex-direction: column;
}

/* Padding - inline (horizontal) */
._px-0_cakby_20 {
  padding-inline: 0;
}
._px-4_cakby_23 {
  padding-inline: var(--spacing-4);
}
._px-8_cakby_26 {
  padding-inline: var(--spacing-8);
}
._px-12_cakby_29 {
  padding-inline: var(--spacing-12);
}
._px-16_cakby_32 {
  padding-inline: var(--spacing-16);
}
._px-24_cakby_35 {
  padding-inline: var(--spacing-24);
}
._px-32_cakby_38 {
  padding-inline: var(--spacing-32);
}

/* Padding - block (vertical) */
._py-0_cakby_43 {
  padding-block: 0;
}
._py-4_cakby_46 {
  padding-block: var(--spacing-4);
}
._py-8_cakby_49 {
  padding-block: var(--spacing-8);
}
._py-12_cakby_52 {
  padding-block: var(--spacing-12);
}
._py-16_cakby_55 {
  padding-block: var(--spacing-16);
}
._py-24_cakby_58 {
  padding-block: var(--spacing-24);
}
._py-32_cakby_61 {
  padding-block: var(--spacing-32);
}

/* Margin  - inline (horizontal) */
._mx-0_cakby_66 {
  margin-inline: 0;
}
._mx-4_cakby_69 {
  margin-inline: var(--spacing-4);
}
._mx-8_cakby_72 {
  margin-inline: var(--spacing-8);
}
._mx-12_cakby_75 {
  margin-inline: var(--spacing-12);
}
._mx-16_cakby_78 {
  margin-inline: var(--spacing-16);
}
._mx-24_cakby_81 {
  margin-inline: var(--spacing-24);
}
._mx-32_cakby_84 {
  margin-inline: var(--spacing-32);
}

/* Margin - block (vertical) */
._my-0_cakby_89 {
  margin-block: 0;
}
._my-4_cakby_92 {
  margin-block: var(--spacing-4);
}
._my-8_cakby_95 {
  margin-block: var(--spacing-8);
}
._my-12_cakby_98 {
  margin-block: var(--spacing-12);
}
._my-16_cakby_101 {
  margin-block: var(--spacing-16);
}
._my-24_cakby_104 {
  margin-block: var(--spacing-24);
}
._my-32_cakby_107 {
  margin-block: var(--spacing-32);
}
