.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  margin-block-end: var(--spacing-4);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 2rem;
}
